
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Inter";
    border: 1px solid grey;
    padding: 20px;
    border-radius: 30px;
    background-color: #f8f9fa;
}
h2{
    border:2px solid grey;
    padding: 20px;
    border-radius: 10%;
    background-color:#e0f7f9 ;
    color: #296773;
}
.recipe-container{
    text-align: center;
    border: 0.5px solid grey;
    padding: 5px;
    border-radius: 20px;
    margin: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
img{
    max-width: 70%;
    height: auto;
    border-radius: 15px;
    margin-top: 15px;
}

.prep-time{
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f0fc;
    margin: 30px;
}

.ingredients{
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f0fc;
    margin: 30px;
}
.instructions{
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f0fc;
    margin: 30px;
}
.nutrition{
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    background-color: #f3f0fc;
    margin: 30px;
}

.nutrition table{
    width: 100%;
    text-align: center;
}

.nutrition th, .nutrition td{
    padding: 10px;
    font-size: 16px;
    border: 1px dotted grey;
}
.nutrition th{
    background-color:#e0f7f9 ;
    color: #296773;
}

.nutrition th{
    font-weight: bold;

}
